# ------------- Backend GitIgnore ----------------

# Environment variables
backend/core/.env

# Virtual environments
backend/.venv/
backend/venv/
backend/env/

# Python
backend/__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.so

# Database
backend/*.db
backend/*.sqlite3

# ------------- Frontend GitIgnore ----------------

# Node modules
frontend/node_modules/

# Build output
frontend/dist/

# Environment variables
frontend/.env


# ------------- General GitIgnore ----------------

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
logs/
*.log
